
body{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5e7da;
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 100vh;
}

.balance_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ea745c;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

#balance{
    font-size: 24px;
    font-weight: bold;}

#balancelabel{
    font-size: 15px;
}

.chart_container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdfaf5;
    color: #000000;
    padding: 10px;
    border-radius: 15px;
}